body {
  margin: 0;
}

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  text-align: center;
} 

/*
BUTTON:
  font-size: 16px;
  line-height: 1;
  border-radius: 500px;
  padding: 19px 56px 21px;
  background-color: rgb(3, 182, 3);
  color: #ffff;
  border: none;
  margin: 20px;
*/

button {

}

/*
Explain button:hover

  cursor: pointer;
  background-color: green;
*/

button:hover {

}


/*
  padding-top: 140px;
  padding-bottom: 50px;
  background-image: linear-gradient(100deg,#f26798 0%,#3023ae 100%);
*/

.introduction-section {

}

/*
PADDING SHORTHAND
  top padding is 25px
  right padding is 0px
  bottom padding is 100px
  left padding is 0px

  VIDEO_SECTION
  background-image: linear-gradient(90deg, #C074B2, #8AB5E8);
  padding: 0px 0px 0px 0px;
*/

.video-section {

}


/*
H1
  color: pink;
  font-size: 54px;
  font-family: ;
  margin: 0;
  padding-top: 20px;
*/
h1 {

}


/*
h2
  color: #fff;
  font-size: 32px;
  font-family: ;
  margin: 0;
  padding: 40px;
*/
h2 {

}

p {
  color: #fff;
  text-align: center;
  max-width: 600px;
  margin: auto;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #fff;
  font-weight: 900;
}

img {
  width: 50%;
  animation-duration: 0.9s;
  animation-name: slide-in;
}

iframe {
  animation-duration: 1s;
  animation-name: slide-in;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*
https://blog.theodo.com/2018/01/responsive-iframes-css-trick/
*/

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

/*
Over course: 
Create a slide-in animation.
*/

@keyframes slide-in {
  from {
    margin-left: -200%;
  }

  to {
    margin-left: 0%;
  }

}

footer {
  background-color: #333;
  padding: 100px 0px 100px 0px;
}
